<h1>New Art</h1>

<%= render 'form', art: @art %>

<%= link_to 'Back', arts_path %>

<!--<script type="text/javascript">
    function verification_password() {
        if(prompt("Entrez le mot de passe : ") != "RubyPassword!") {
            document.location = ".";
        }
    }

    window.onload = verification_password();
</script>-->
